body {
  font-family: Arial, Helvetica, sans-serif;
  --foreground-colour: rgb(14, 11, 92);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

details > summary {
  cursor: pointer;
}

summary {
  padding: 5px;
  border-color: var(--foreground-colour);
  border-style: solid;
  border-width: 1px 1px 0 1px;
  color: var(--foreground-colour);
  cursor: pointer;
}

li:first-child details > :first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

li:last-child :not(details[open]) summary,
li:last-child details[open] > :not(:first-child) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-width: 1px;
}

details > :not(:first-child) {
  display: block;
  padding: 10px;
  border-color: var(--foreground-colour);
  border-style: solid;
  border-width: 1px 1px 0 1px;
}
